hostname = *.115.com
http:\/\/115\.com\/\?ct=sign$ url 302 http://115.com/lx?taskdg=1
http:\/\/115\.com\/lx.*$ url script-response-body https://raw.githubusercontent.com/Mojit000/Surge/refs/heads/master/Script/115Download.js
https?:\/\/webapi\.115\.com\/user\/check_sign.*$ url script-response-body https://raw.githubusercontent.com/Mojit000/Surge/refs/heads/master/Script/115Download.js
