hostname = duckduckgo.com
https:\/\/duckduckgo.com\/\?q=tb(\+|%20)([^&]+).+ url 302 taobao://s.taobao.com?q=$2
https:\/\/duckduckgo.com\/\?q=as(\+|%20)([^&]+).+ url 302 itms-apps://search.itunes.apple.com/WebObjects/MZSearch.woa/wa/search?media=software&term=$2
https:\/\/duckduckgo.com\/\?q=dd(\+|%20)([^&]+).+ url 302 pinduoduo://com.xunmeng.pinduoduo/search_result.html?search_key=$2
https:\/\/duckduckgo.com\/\?q=cd(\+|%20)([^&]+).+ url 302 dictionary2://define-$2
https:\/\/duckduckgo.com\/\?q=vt(\+|%20)([^&]+).+ url 302 v2er://search?query=$2
https:\/\/duckduckgo.com\/\?q=wb(\+|%20)([^&]+).+ url 302 sinaweibo://searchall?q=$2
https:\/\/duckduckgo.com\/\?q=tw\+([^&]+).+ url 302 https://twitter.com/search?q=$1
https:\/\/duckduckgo.com\/\?q=ssp\+([^&]+).+ url 302 https://sspai.com/search/post/$1
https:\/\/duckduckgo.com\/\?q=zdm\+([^&]+).+ url 302 https://search.m.smzdm.com/?v=b&s=$1
https:\/\/duckduckgo.com\/\?q=jd\+([^&]+).+ url 302 https://so.m.jd.com/ware/search.action?keyword=$1
https:\/\/duckduckgo.com\/\?q=tb\+([^&]+).+ url 302 https://s.m.taobao.com/h5?q=$1
https:\/\/duckduckgo.com\/\?q=tm\+([^&]+).+ url 302 https://s.m.tmall.com/m/search.htm?q=$1
https:\/\/duckduckgo.com\/\?q=bili\+([^&]+).+ url 302 https://m.bilibili.com/search?keyword=$1
https:\/\/duckduckgo.com\/\?q=ytb\+([^&]+).+ url 302 https://www.youtube.com/results?search_query=$1
https:\/\/duckduckgo.com\/\?q=ph\+([^&]+).+ url 302 https://cn.pornhub.com/video/search?search=$1
https:\/\/duckduckgo.com\/\?q=gd\+([^&]+).+ url 302 https://www.google.com/search?q=%22Google+Drive%22+$1
https:\/\/duckduckgo.com\/\?q=tgd\+([^&]+).+ url 302 https://t.me/s/gdurl?q=$1
https:\/\/duckduckgo.com\/\?q=zgd(\+|%20)([^&]+).+ url 302 https://zhao.pp.ua/?q=$2
https:\/\/duckduckgo.com\/\?q=bd\+([^&]+).+ url 302 https://www.baidu.com/s?wd=$1
https:\/\/duckduckgo.com\/\?q=ddg\+([^&]+).+ url 302 https://duckduckgo.com/?ia=about&q=$1
https:\/\/duckduckgo.com\/\?q=bz\+([^&]+).+ url 302 https://std.samr.gov.cn/search/std?q=$1
https:\/\/duckduckgo.com\/\?q=yh\+([^&]+).+ url 302 https://greasyfork.org/zh-CN/scripts?q=$1
https:\/\/duckduckgo.com\/\?q=([^+]+)\+yh.+ url 302 https://greasyfork.org/zh-CN/scripts?q=$1
https:\/\/duckduckgo.com\/\?q=([^&]+).+ url 302 https://www.google.com/search?q=$1
