hostname = gapi.guanaitong.com, a.guanaitong.com
^https:\/\/gapi\.guanaitong\.com\/api\/v1\/home\/rec\? url reject-dict
^https:\/\/m\.igeidao\.com\/give-llm-ai\/v1\/ai\/chat_init url reject-dict
^https:\/\/gapi\.guanaitong\.com\/api2\/v2\/ai\/entry url reject-dict
https:\/\/gapi\.guanaitong\.com\/api\/v8\/home\/cms url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Homepage.js
https:\/\/gapi\.guanaitong\.com\/api\/v4\/my\/center url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Profile.js
https:\/\/gapi\.guanaitong\.com\/api\/v1\/my\/user_profile url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Profile_v2.js
https:\/\/gapi\.guanaitong\.com\/api\/v1\/home\/display_zone\?type=2 url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Hot_Market.js
https:\/\/gapi\.guanaitong\.com\/api\/v2\/common\/cms_custom_data\?page_name=privilege url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Hot_Market.js
https:\/\/a\.guanaitong\.com\/give-health-api\/home url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Work.js
https:\/\/a\.guanaitong\.com\/incentive_api\/home\/subscribe_apps\? url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Work.js
https:\/\/a\.guanaitong\.com\/incentive_api\/home\/education_data\? url script-response-body https://raw.githubusercontent.com/Mojit000/Loon/refs/heads/main/GeiDao/Work.js
