hostname = api.finka.cn
^https:\/\/api\.finka\.cn\/recommend\/other url jsonjq-response-body 'delpaths([["data","liveList"]])'
^https:\/\/api\.finka\.cn\/live\/view\/v3 url jsonjq-response-body 'del(.data.activities, .data.activity2)'
^https:\/\/api\.finka\.cn\/recommend\/live\/tabConfig url jsonjq-response-body '.data.tabList |= map(select(.type != "AUDIOLIVE"))'
^https:\/\/api\.finka\.cn\/vas\/tool-box\/get\? url jsonjq-response-body '.data.list |= map(select(.trackName != "NEW_NEARBY" and .trackName != "MEET_REMINDER"))'
^https:\/\/api\.finka\.cn\/user\/recommend\?_t=\d+&multiInfo=1 url jsonjq-response-body '.data.list |= map(select(((.user.weight / ((.user.height / 100) * (.user.height / 100))) >= 18 and (.user.weight / ((.user.height / 100) * (.user.height / 100))) <= 27)))'
^https:\/\/api\.finka\.cn\/user\/recommend\?_t=\d+&multiInfo=1 url jsonjq-response-body '.data.list |= map(select(.user.age >= 32 and .user.age <= 42))'
^https:\/\/api\.finka\.cn\/profile\/info\/v2\? url jsonjq-response-body 'del(.data.vasEntranceInfo,.data.featuredServicesList, .data.adMoreUrl, .data.ad, .data.valueEquityTopList, .data.profilePasterAd, .data.outFunctionList)'
^https:\/\/api\.finka\.cn\/profile\/info\/v2\? url jsonjq-response-body '.data.innerFunction[0] |= .[0:-1]'
^https:\/\/api\.finka\.cn\/feed\/v5\? url jsonjq-response-body 'del(.data.list[] | select(has("sponsorExtraInfo")))'
^https:\/\/api\.finka\.cn\/feed\/v5\? url jsonjq-response-body '.data.list |= map(select(.type != "PostSpecialExposure" and (.boosting | not) and .type != "ShowCase"))'
^https:\/\/api\.finka\.cn\/vas\/visitor\? url jsonjq-response-body 'del(.data.iosHideOptions, .data.iosPublicOptions, .data.visitorOptions)'
^https:\/\/api\.finka\.cn\/ad\/? url reject-dict
^https:\/\/api\.finka\.cn\/audio-live\/quick-access url reject-dict
^https:\/\/api\.finka\.cn\/audio-live\/list url reject-dict
^https:\/\/api\.finka\.cn\/constants\/ios\? url reject-dict
^https:\/\/api\.finka\.cn\/mask-match\? url reject-dict
