hostname = backend.getdrafts.com
https?:\/\/backend\.getdrafts\.com\/api\/v\d\/verification url script-response-body https://raw.githubusercontent.com/Mojit000/Surge/refs/heads/master/Script/DraftsPro.js