# 节点配置片段包含一些节点配置信息；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/server-complete.snippet
 
anytls=104.223.108.121:443, password=K5RoTX9kZr0CkM97, over-tls=true, tls-verification=false, tls-host=support.apple.com, fast-open=false, udp-relay=true, tag=【自建】🇺🇸 圣地亚哥 ℝ𝕒𝕔𝕜ℕ𝕖𝕣𝕕

anytls=104.223.85.120:59761, password=8443, over-tls=true, tls-verification=false, tls-host=tv.apple.com, fast-open=false, udp-relay=true, tag=【自建】🇺🇸多伦多ℂ𝕠𝕝𝕠ℂ𝕣𝕠𝕤𝕤𝕚𝕟𝕘
 
;shadowsocks=example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, obfs-uri=/resource/file, fast-open=false, udp-relay=false, server_check_url=http://www.apple.com/generate_204, tag=ss-01
